In [1]:
import pandas as pd
import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [6]:
df = pd.read_excel("")
df.head()

,"กลุ่มโรคทางเดินหายใจ, 04 : [2251] อัตราป่วยตาย (Fatality rate) ด้วยโรคปอดบวมทุกกลุ่มอายุ สิทธิ UC ของโรงพยาบาลที่ให้บริการ (hcode)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2560,NaN,NaN,NaN,2561,NaN,NaN,NaN,2562,NaN,NaN,NaN,2563,NaN,NaN,NaN
2,NaN,NaN,ตัวตั้ง (จังหวัด),ตัวหาร (จังหวัด),ผลลัพธ์ (จังหวัด),จำนวนครั้ง (จังหวัด),ตัวตั้ง (จังหวัด),ตัวหาร (จังหวัด),ผลลัพธ์ (จังหวัด),จำนวนครั้ง (จังหวัด),ตัวตั้ง (จังหวัด),ตัวหาร (จังหวัด),ผลลัพธ์ (จังหวัด),จำนวนครั้ง (จังหวัด),ตัวตั้ง (จังหวัด),ตัวหาร (จังหวัด),ผลลัพธ์ (จังหวัด),จำนวนครั้ง (จังหวัด)
3,เขต 1 เชียงใหม่,เชียงใหม่,362,6041,5.99,362,411,7543,5.45,411,434,6923,6.27,434,409,5736,7.13,409
4,NaN,ลำพูน,69,1660,4.16,69,108,2205,4.9,108,107,1975,5.42,107,153,1714,8.93,153